#previewImg{
    border: 1px solid;
    border-radius: 14px;
    margin-top: 15px;
    color: gray;
    margin-bottom: 7px;
}

.append-metadata{
    border: 1px solid gray;
    height: 70%;
    padding: 10px;
    margin-top: 25px;
    border-radius: 25px;
    margin-right: 8px;
}

.metadata-form{
    border-radius: 20px;
    font-size: 13px;
    margin: 2px;
}